<!-- <form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)" >
  <input type="text" name = "email" placeholder="Email" ngModel>
  <br/>
  <input type="password" name = "pwd" placeholder="password" ngModel>
  <br/>
  <input type="submit" value="submit">
</form> -->


<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <div class="card" style="width: 48rem;">
                <div class="card-body">
                    <h5 class="card-title">Formulario laboratorio 13</h5>
                    <form class="row g-3 needs-validation" [formGroup]="angForm" (ngSubmit)="onSaveForm()">
                        <div class="col-md-4">
                            <label class="form-label">Nombres</label>
                            <input type="text" name="nombre" placeholder="Nombres" formControlName="nombre" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('nombre')">
                                    {{getErrorMessageNames("nombre")}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Primer apellido</label>
                            <input type="text" name="apellido1" placeholder="Primer apellido" formControlName="apellido1" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('apellido1')">
                                    {{getErrorMessageNames("apellido1")}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Segundo apellido</label>
                            <input type="text" name="apellido2" placeholder="Segundo apellido" formControlName="apellido2" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('apellido2')">
                                    {{getErrorMessageNames("apellido2")}}
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <select type="text" id="dia" name="dia" formControlName="dia" ngModel>
                            <option   value="" >Dia</option>
                            <option   value="1" >1</option>
                            <option   value="2">2</option>
                            <option   value="3">3</option>
                            <option   value="4">4</option>
                            <option   value="5">5</option>
                            <option   value="6">6</option>
                            <option   value="7">7</option>
                            <option   value="8">8</option>
                            <option   value="9">9</option>
                            <option   value="10">10</option>
                            <option   value="11">11</option>
                            <option   value="12">12</option>
                            <option   value="13">13</option>
                            <option   value="14">14</option>
                            <option   value="15">15</option>
                            <option   value="16">16</option>
                            <option   value="17">17</option>
                            <option   value="18">18</option>
                            <option   value="19">19</option>
                            <option   value="20">20</option>
                            <option   value="21">21</option>
                            <option   value="22">22</option>
                            <option   value="23">23</option>
                            <option   value="24">24</option>
                            <option   value="25">25</option>
                            <option   value="26">26</option>
                            <option   value="27">27</option>
                            <option   value="28">28</option>
                            <option   value="29">29</option>
                            <option   value="30">30</option>
                            <option   value="31">31</option>
                        </select>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('dia')">
                                    {{getErrorMessageDia("dia")}}
                                </div>
                            </div>
                            <select name="mes" id="mes" formControlName="mes" ngModel>
                          
                          <option   value="" >Mes</option>
                            <option   value="enero">enero</option>
                            <option   value="febrero">febrero</option>
                            <option   value="marzo">marzo</option>
                            <option   value="abril">abril</option>
                            <option   value="mayo">mayo</option>
                            <option   value="junio">junio</option>
                            <option   value="julio">julio</option>
                            <option   value="agosto">agosto</option>
                            <option   value="setiembre">setiembre</option>
                            <option   value="octubre">octubre</option>
                            <option   value="noviembre">noviembre</option>
                            <option   value="diciembre">diciembre</option>
                        </select>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('mes')">
                                    {{getErrorMessageMes("mes")}}
                                </div>
                            </div>


                            <input type="number" name="anio" placeholder="Año" formControlName="anio" min="1950" max="2021" maxlength="4" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('anio')">
                                    {{getErrorMessageAnio("anio")}}
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="col-md-4">
                            <label class="form-label">Correo electrónico</label>
                            <input type="text" name="email" placeholder="Email" formControlName="email" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('email')">
                                    {{getErrorMessage("email")}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Contraseña</label>
                            <input type="password" name="pwd" placeholder="password" formControlName="pwd" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('pwd')">
                                    {{getErrorMessagePasswordFormat("pwd")}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Contraseña</label>
                            <input type="password" name="pwdv" placeholder="confirmar password" formControlName="pwdv" ngModel>
                            <div class="container-error-message">
                                <div class="alert-danger" *ngIf="isValidField('pwdv')">
                                    {{getErrorMessagePasswordFormatValid("pwdv")}}
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary"> Enviar </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>